html, body {
    margin: 0;
    padding: 0;
}

html.grabbing * {
    cursor: grabbing !important;
}

#map {
    cursor: grab;
}

#map canvas {
    position: absolute;
    height: 100vh;
    image-rendering: -moz-crisp-edges;
}

#settings {
    position: absolute;
    top: 50px;
    left: 950px;
}